/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
@-webkit-keyframes move_updown {
  0% {
    top: 0; }
  33% {
    top: -5px; }
  66% {
    top: 0; }
  100% {
    top: -5px; } }
/* Standard syntax */
@keyframes move_updown {
  0% {
    top: 0; }
  33% {
    top: -5px; }
  66% {
    top: 0; }
  100% {
    top: -5px; } }
.nav-bar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #212121;
  padding: 15px 15px; }

.brand {
  flex-grow: auto; }
  .brand .nav-brand img {
    width: auto;
    height: 40px; }

.member_block {
  flex-grow: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end; }

.nav-items {
  display: inline-block;
  margin: 0 5px;
  position: relative; }
  .nav-items a {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.6rem;
    color: #fff;
    text-decoration: none;
    padding-left: 25px; }
    .nav-items a:before {
      filter: invert(1); }
    .nav-items a:hover {
      color: #f19d1e; }
    .nav-items a:hover:before {
      filter: invert(1) sepia() saturate(4000%) hue-rotate(310deg); }

.goStocklist > a {
  position: relative; }
  .goStocklist > a:before {
    content: "";
    background: url("../img/svg/statistics-silhouette.svg") no-repeat left top/100% auto;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px; }

.member_block {
  margin: 0; }

.login-action {
  margin-left: 25px;
  display: inline-block; }

.action {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  padding: 5px 15px;
  display: inline-block; }

.login {
  background-color: #28a4e7;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.25 ease;
  -moz-transition: 0.25 ease;
  -o-transition: 0.25 ease;
  transition: 0.25 ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin-right: 5px; }
  .login * {
    color: #fff; }
  .login:hover {
    background-color: #28a4e7;
    color: #fff;
    transform: scale(1.05); }
    .login:hover * {
      color: #fff; }

.register {
  background-color: #f19d1e;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.25 ease;
  -moz-transition: 0.25 ease;
  -o-transition: 0.25 ease;
  transition: 0.25 ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .register * {
    color: #fff; }
  .register:hover {
    background-color: #f19d1e;
    color: #fff;
    transform: scale(1.05); }
    .register:hover * {
      color: #fff; }

.logout {
  background-color: #f52a2a;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.25 ease;
  -moz-transition: 0.25 ease;
  -o-transition: 0.25 ease;
  transition: 0.25 ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .logout * {
    color: #fff; }
  .logout:hover {
    background-color: #f52a2a;
    color: #fff;
    transform: scale(1.05); }
    .logout:hover * {
      color: #fff; }

.login-panel {
  margin: 10px 0;
  padding: 10px 18px;
  display: none;
  position: absolute;
  right: 0;
  z-index: 99;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #494949; }
  .login-panel * {
    display: block; }
  .login-panel #login-name,
  .login-panel #login-password {
    margin: 10px 0;
    background: none;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.6rem; }
    .login-panel #login-name::placeholder,
    .login-panel #login-password::placeholder {
      color: #8a8a8a; }
    .login-panel #login-name:focus,
    .login-panel #login-password:focus {
      border: 0;
      outline: none;
      border-bottom: 2px solid #fff; }
  .login-panel #login-action {
    appearance: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #27ad1b;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.25 ease;
    -moz-transition: 0.25 ease;
    -o-transition: 0.25 ease;
    transition: 0.25 ease;
    margin: 10px 0 0 auto; }
    .login-panel #login-action * {
      color: #fff; }
    .login-panel #login-action:hover {
      background-color: #27ad1b;
      color: #fff;
      transform: scale(1.05); }
      .login-panel #login-action:hover * {
        color: #fff; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px; }

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%; }

.btn {
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background-color: #212121;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.25 ease;
  -moz-transition: 0.25 ease;
  -o-transition: 0.25 ease;
  transition: 0.25 ease; }
  .btn * {
    color: #fff; }
  .btn:hover {
    background-color: #212121;
    color: #fff;
    transform: scale(1.05); }
    .btn:hover * {
      color: #fff; }

.scrollTop {
  position: fixed;
  right: 15px;
  bottom: 35px;
  background-color: #383838;
  padding: 3px;
  cursor: pointer; }
  .scrollTop .arrow {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 5px; }
    .scrollTop .arrow:before {
      content: "";
      display: block;
      position: relative;
      transition: all 0.5s ease-in-out;
      width: 15px;
      height: 15px;
      transform-origin: 50% 50%;
      margin-top: 7.5px;
      transform: rotate(-45deg);
      box-shadow: inset -3px 3px 0 0 #fff;
      border-radius: 0 2.25px 0 0; }
    .scrollTop .arrow:hover:before {
      transform: translate(0, -5px) rotate(-45deg); }

.updateStamp {
  color: #646464;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.4rem;
  font-weight: normal; }

.section {
  display: block;
  max-width: 100%;
  padding: 0 15px; }
  .section .title {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    line-height: 2rem; }

.title_section {
  position: relative;
  padding: 25px 15px;
  text-align: center; }
  .title_section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.site_title {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.6rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: block;
  position: relative; }
  .site_title > span {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.6rem;
    color: #646464; }

.listItem {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #f5f5f5; }

.negative {
  color: #e85e5f !important; }

.positive {
  color: #22ab55 !important; }

#footer {
  background-color: #212121;
  padding: 10px;
  text-align: center; }
  #footer div {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.6rem;
    color: #fff; }

@-webkit-keyframes move_updown {
  0% {
    top: 0; }
  33% {
    top: -5px; }
  66% {
    top: 0; }
  100% {
    top: -5px; } }
/* Standard syntax */
@keyframes move_updown {
  0% {
    top: 0; }
  33% {
    top: -5px; }
  66% {
    top: 0; }
  100% {
    top: -5px; } }
.index .slider-wrapper {
  height: 650px;
  overflow: hidden;
  padding: 0;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .index .slider-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 2; }
  .index .slider-wrapper > picture {
    width: 100%;
    height: 100%; }
  .index .slider-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .index .slider-wrapper video {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1; }
  .index .slider-wrapper .slider-title {
    z-index: 3;
    text-align: center; }
    .index .slider-wrapper .slider-title .title {
      font-size: 6rem;
      font-family: "Roboto", sans-serif;
      line-height: 6.2rem;
      color: #f19d1e;
      font-weight: bold; }
    .index .slider-wrapper .slider-title p {
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;
      line-height: 1.8rem;
      color: #fff;
      margin: 5px 0;
      text-align: center; }
    .index .slider-wrapper .slider-title .action.stocklist {
      margin-top: 10px;
      padding: 15px 25px;
      background-color: none;
      border: 1px #f19d1e solid;
      -webkit-transition: 0.4s ease;
      -moz-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px; }
      .index .slider-wrapper .slider-title .action.stocklist span {
        color: #f19d1e; }
      .index .slider-wrapper .slider-title .action.stocklist:hover {
        transform: scale(1.1);
        background-color: #f19d1e; }
        .index .slider-wrapper .slider-title .action.stocklist:hover span {
          color: #fff; }
.index .promote-wrapper {
  background-color: #fff;
  padding: 40px 15px;
  text-align: center; }
  .index .promote-wrapper .section.title {
    color: #646464;
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    line-height: 4.2rem; }
    .index .promote-wrapper .section.title strong {
      color: #212121; }
  .index .promote-wrapper .goods-list {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; }
  .index .promote-wrapper .icon-block {
    max-width: 250px; }
    .index .promote-wrapper .icon-block .icon {
      margin: 0 20px;
      padding: 0 40px; }
      .index .promote-wrapper .icon-block .icon > img {
        filter: invert(1) sepia() saturate(4000%) hue-rotate(310deg); }
    .index .promote-wrapper .icon-block p {
      margin: 0;
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
      line-height: 2.2rem;
      color: #f19d1e; }
.index .news-wrapper {
  background: url(../img/section2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px 15px; }
  .index .news-wrapper .news-board {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; }
    .index .news-wrapper .news-board .text-wrapper {
      flex-basis: 36%;
      -moz-flex-basis: 36%;
      -webkit-flex-basis: 36%;
      max-width: 36%;
      padding: 20px 10px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .index .news-wrapper .news-board .text-wrapper > div,
      .index .news-wrapper .news-board .text-wrapper > a {
        flex-basis: 100%;
        -moz-flex-basis: 100%;
        -webkit-flex-basis: 100%;
        max-width: 100%; }
      .index .news-wrapper .news-board .text-wrapper .text {
        font-size: 3.4rem;
        font-family: "Roboto", sans-serif;
        line-height: 3.6rem;
        color: #fff;
        text-align: center; }
        .index .news-wrapper .news-board .text-wrapper .text span {
          display: block; }
        .index .news-wrapper .news-board .text-wrapper .text .register {
          font-size: 2rem;
          font-family: "Roboto", sans-serif;
          line-height: 2.2rem;
          margin-top: 15px;
          padding: 15px 50px;
          -webkit-transition: 0.4s ease;
          -moz-transition: 0.4s ease;
          -o-transition: 0.4s ease;
          transition: 0.4s ease; }
    .index .news-wrapper .news-board .list-wrapper {
      flex-basis: 32%;
      -moz-flex-basis: 32%;
      -webkit-flex-basis: 32%;
      max-width: 32%;
      padding: 10px 15px; }
    .index .news-wrapper .news-board .list-block {
      background-color: #fff;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 9px 9px 3px 0px rgba(0, 0, 0, 0.5); }
    .index .news-wrapper .news-board .title_wrapper {
      display: block;
      padding: 12px 8px;
      text-align: center; }
    .index .news-wrapper .news-board .pageTitle {
      font-size: 2.4rem;
      font-family: "Roboto", sans-serif;
      line-height: 2.6rem;
      color: #fff;
      text-align: center;
      display: inline-block; }
      .index .news-wrapper .news-board .pageTitle:before {
        display: inline-block;
        position: relative;
        filter: invert(1);
        margin-right: 10px; }
    .index .news-wrapper .news-board .listItem {
      padding: 8px 12px;
      background-color: #fff;
      border-bottom: 1px #d8d8d8 solid; }
      .index .news-wrapper .news-board .listItem .key {
        font-size: 1.3rem;
        font-family: "Roboto", sans-serif;
        line-height: 1.5rem;
        padding: 0 5px; }
      .index .news-wrapper .news-board .listItem .symbol {
        flex-basis: 60px;
        -moz-flex-basis: 60px;
        -webkit-flex-basis: 60px;
        max-width: 60px; }
      .index .news-wrapper .news-board .listItem .name {
        flex-basis: 250px;
        -moz-flex-basis: 250px;
        -webkit-flex-basis: 250px;
        max-width: 250px; }
      .index .news-wrapper .news-board .listItem .price {
        flex-basis: 50px;
        -moz-flex-basis: 50px;
        -webkit-flex-basis: 50px;
        max-width: 50px; }
      .index .news-wrapper .news-board .listItem .changes {
        flex-basis: 30px;
        -moz-flex-basis: 30px;
        -webkit-flex-basis: 30px;
        max-width: 30px; }
      .index .news-wrapper .news-board .listItem .changesPercentage {
        flex-basis: 52px;
        -moz-flex-basis: 52px;
        -webkit-flex-basis: 52px;
        max-width: 52px; }
.index .most-active-wrapper .title_wrapper {
  background-color: #f19d1e; }
.index .most-active-wrapper .pageTitle {
  position: relative; }
  .index .most-active-wrapper .pageTitle:before {
    content: "";
    background: url("../img/svg/money-graph-with-up-arrow.svg") no-repeat left top/100% auto;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px; }
.index .most-active-wrapper .listItem:hover {
  background-color: rgba(252, 98, 2, 0.3); }
.index .most-gainer-wrapper .title_wrapper {
  background-color: #22ab55; }
.index .most-gainer-wrapper .pageTitle {
  position: relative; }
  .index .most-gainer-wrapper .pageTitle:before {
    content: "";
    background: url("../img/svg/money-bag.svg") no-repeat left top/100% auto;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px; }
.index .most-gainer-wrapper .listItem:hover {
  background-color: rgba(6, 126, 22, 0.3); }
.index .callaction-wrapper {
  height: 350px;
  background: url(../img/laptop-3174729_1920.jpg) no-repeat 50% 23%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20%; }
  .index .callaction-wrapper > div {
    text-align: center; }
  .index .callaction-wrapper p,
  .index .callaction-wrapper > a {
    margin: 0; }
  .index .callaction-wrapper p {
    font-size: 2.8rem;
    font-family: "Roboto", sans-serif;
    line-height: 3rem;
    color: #fff;
    text-align: center; }
  .index .callaction-wrapper .action.register {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    line-height: 2.2rem;
    text-align: center;
    margin-top: 10px;
    padding: 15px 50px;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #28a4e7; }

.stock-list .title_section:before {
  background: url(../img/chart-1905225_1920.jpg);
  filter: brightness(0.5) opacity(1) sepia(0.3) grayscale(0.5); }
.stock-list .stock-info-section {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px; }
.stock-list .stock-list-section {
  flex-basis: 30%;
  -moz-flex-basis: 30%;
  -webkit-flex-basis: 30%;
  max-width: 30%;
  order: 1;
  padding-left: 5px; }
  .stock-list .stock-list-section .list-wrapper {
    padding: 0 8px 15px 0; }
.stock-list .list-block {
  display: block;
  border: 1px solid #646464;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }
  .stock-list .list-block .list {
    padding: 0; }
  .stock-list .list-block .listItem {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px #dfdfdf solid;
    padding: 5px 8px; }
    .stock-list .list-block .listItem > div {
      flex-basis: 20%;
      -moz-flex-basis: 20%;
      -webkit-flex-basis: 20%;
      max-width: 20%;
      padding: 3px; }
    .stock-list .list-block .listItem:hover {
      background-color: #d4d4d4;
      box-shadow: 0 3px 6px 1px #dedede; }
  .stock-list .list-block .pageTitle {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.8rem;
    font-weight: bold;
    background-color: #383838;
    color: #fff;
    padding: 7px 12px 7px 42px; }
    .stock-list .list-block .pageTitle:before {
      left: 12px !important;
      filter: invert(1); }
  .stock-list .list-block .price,
  .stock-list .list-block .changes,
  .stock-list .list-block .changesPercentage {
    text-align: center; }
.stock-list .most-active-wrapper .list-block {
  border-color: #fc6202; }
.stock-list .most-active-wrapper .pageTitle {
  background-color: #fc6202;
  color: #fff;
  position: relative; }
  .stock-list .most-active-wrapper .pageTitle:before {
    content: "";
    background: url("../img/svg/money-graph-with-up-arrow.svg") no-repeat left top/100% auto;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px; }
.stock-list .most-active-wrapper .listItem {
  background-color: #fff8f0; }
  .stock-list .most-active-wrapper .listItem:hover {
    background-color: rgba(252, 98, 2, 0.5); }
.stock-list .most-gainer-wrapper .list-block {
  border-color: #067e16; }
.stock-list .most-gainer-wrapper .pageTitle {
  background-color: #067e16;
  color: #fff;
  position: relative; }
  .stock-list .most-gainer-wrapper .pageTitle:before {
    content: "";
    background: url("../img/svg/money-bag.svg") no-repeat left top/100% auto;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px; }
.stock-list .most-gainer-wrapper .listItem {
  background-color: #ebfceb; }
  .stock-list .most-gainer-wrapper .listItem:hover {
    background-color: rgba(6, 126, 22, 0.5); }
.stock-list .major-index-wrapper .pageTitle {
  position: relative; }
  .stock-list .major-index-wrapper .pageTitle:before {
    content: "";
    background: url("../img/svg/changing-money.svg") no-repeat left top/100% auto;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px; }
.stock-list .all-stock-wrapper {
  flex-basis: 70%;
  -moz-flex-basis: 70%;
  -webkit-flex-basis: 70%;
  max-width: 70%;
  order: 0;
  padding-right: 10px; }
  .stock-list .all-stock-wrapper .list-block {
    position: relative; }
  .stock-list .all-stock-wrapper .complete_load:before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #dfdfdf;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 3; }
  .stock-list .all-stock-wrapper .pageTitle {
    position: relative;
    z-index: 5;
    position: relative; }
    .stock-list .all-stock-wrapper .pageTitle:before {
      content: "";
      background: url("../img/svg/graph-line-screen.svg") no-repeat left top/100% auto;
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 0;
      margin-top: -10px; }
  .stock-list .all-stock-wrapper #allStock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 300px; }
    .stock-list .all-stock-wrapper #allStock .listItem {
      border: 0; }
    .stock-list .all-stock-wrapper #allStock > a {
      flex-basis: 50%;
      -moz-flex-basis: 50%;
      -webkit-flex-basis: 50%;
      max-width: 50%;
      display: block;
      border-bottom: 1px #dfdfdf solid;
      background-color: #f5f5f5; }
  .stock-list .all-stock-wrapper .listItem .symbol {
    flex-basis: 20%;
    -moz-flex-basis: 20%;
    -webkit-flex-basis: 20%;
    max-width: 20%; }
  .stock-list .all-stock-wrapper .listItem .name {
    flex-basis: 60%;
    -moz-flex-basis: 60%;
    -webkit-flex-basis: 60%;
    max-width: 60%; }
  .stock-list .all-stock-wrapper .listItem .price {
    flex-basis: 20%;
    -moz-flex-basis: 20%;
    -webkit-flex-basis: 20%;
    max-width: 20%; }
.stock-list .title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.2rem;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center; }
.stock-list .spinner {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  animation: spinner 0.75s linear infinite; }
  .stock-list .spinner span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .stock-list .spinner .spinner-inner-1 {
    background: linear-gradient(to right, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 50%, #646464 51%); }
  .stock-list .spinner .spinner-inner-2 {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 100%); }
  .stock-list .spinner .spinner-inner-3 {
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: #fff; }
@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.stock .title_section:before {
  background: url(../img/laptop-3174729_1920.jpg);
  filter: brightness(0.9) opacity(1) sepia(0.5) grayscale(0.5);
  background-position: 50%; }
.stock .title_section .title {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.8rem; }
.stock .stock-info-section {
  padding-top: 15px;
  padding-bottom: 35px; }
.stock .stockHeader {
  display: block;
  position: relative;
  padding: 8px 15px; }
  .stock .stockHeader * {
    vertical-align: middle; }
  .stock .stockHeader .btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 0; }
  .stock .stockHeader .add {
    background-color: #28a4e7;
    color: #fff; }
  .stock .stockHeader .brand-block {
    display: inline-block; }
  .stock .stockHeader .index-block {
    display: inline-block;
    margin-left: 25px; }
  .stock .stockHeader .stockPrice {
    display: inline-block;
    line-height: 1; }
    .stock .stockHeader .stockPrice > span {
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
      line-height: 2.2rem;
      margin-left: 5px; }
  .stock .stockHeader .stockChange {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    line-height: 2.2rem;
    display: inline-block;
    margin-left: 10px; }
    .stock .stockHeader .stockChange > span {
      font-size: 1.2rem;
      font-family: "Roboto", sans-serif;
      line-height: 1.4rem;
      margin-left: 5px; }
.stock .IMG {
  width: 50px;
  height: 50px;
  display: inline-block; }
.stock .stockName {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.6rem;
  color: #212121;
  display: inline-block;
  margin: 0 5px; }
.stock .main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
.stock .chart-wrapper {
  flex-basis: 65%;
  -moz-flex-basis: 65%;
  -webkit-flex-basis: 65%;
  max-width: 65%; }
.stock .infoBlock {
  flex-basis: 35%;
  -moz-flex-basis: 35%;
  -webkit-flex-basis: 35%;
  max-width: 35%; }
.stock .des {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  padding-left: 10px; }
  .stock .des .title {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    line-height: 2.2rem;
    color: #28a4e7;
    font-weight: bold; }
  .stock .des .content {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.6rem; }
.stock .table-wrapper {
  padding: 5px 10px; }
.stock table {
  width: 100%;
  margin-top: 20px; }
  .stock table th {
    text-align: left;
    padding: 5px;
    background-color: #383838;
    color: #fff; }
  .stock table td {
    padding: 5px;
    background-color: #ececec; }

@-webkit-keyframes move_updown {
  0% {
    top: 0; }
  33% {
    top: -5px; }
  66% {
    top: 0; }
  100% {
    top: -5px; } }
/* Standard syntax */
@keyframes move_updown {
  0% {
    top: 0; }
  33% {
    top: -5px; }
  66% {
    top: 0; }
  100% {
    top: -5px; } }
.registPage .form-wrapper {
  padding: 40px 15px;
  height: 800px;
  background: url(../img/section2.jpg);
  background-size: 100%;
  background-repeat: no-repeat; }
.registPage .reg-form-wrapper {
  padding: 25px 0; }
.registPage .reg-form {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85); }
  .registPage .reg-form .input-wrapper {
    margin: 15px 0;
    vertical-align: middle; }
    .registPage .reg-form .input-wrapper label {
      display: block;
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;
      line-height: 1.8rem;
      color: #212121;
      font-weight: bold; }
    .registPage .reg-form .input-wrapper input {
      display: block;
      width: 100%;
      background: none;
      padding: 5px;
      border: 0;
      border-bottom: 1px solid #646464; }
      .registPage .reg-form .input-wrapper input:focus {
        outline: none; }
  .registPage .reg-form .checkbox {
    display: block;
    vertical-align: middle; }
    .registPage .reg-form .checkbox #agreement {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0;
      vertical-align: middle;
      background: none;
      border: 1px solid #f19d1e; }
    .registPage .reg-form .checkbox p {
      display: inline-block;
      margin: 0;
      vertical-align: middle; }

/*# sourceMappingURL=ecom.css.map */
