@import '_value';
@import '_mixin';
//Header
.nav-bar {
    @include displayflex();
    align-items: center;
    background-color: $black;
    padding: 15px $desktop_margin;
}

.brand {
    flex-grow: auto;
}

.member_block {
    flex-grow: 1;
    @include displayflex();
    align-items: center;
    text-align: right;
    justify-content: flex-end;
}

.nav-items {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    a {
        @include fontSize(1.4rem);
        color: $white;
        text-decoration: none;
        padding-left: 25px;
        &:before {
            filter: invert(1);
        }
        &:hover {
            color: $Main_color;
        }
        &:hover:before {
            filter: invert(1) sepia() saturate(4000%) hue-rotate(310deg);
        }
    }
}

.goStocklist {
    >a {
        @include displayIcon(20px, 20px, "statistics-silhouette.svg");
    }
}

.member_block {
    margin: 0;
}

.login-action {
    margin-left: 25px;
    display: inline-block;
}

.action {
    @include fontSize(1.4rem);
    padding: 5px 15px;
    display: inline-block;
}

.login {
    @include btnSolid($Sub_color, $white);
    @include border-radius(8px);
    margin-right: 5px;
}

.register {
    @include btnSolid($Main_color, $white);
    @include border-radius(8px);
}

.logout {
    @include btnSolid($Thr_color, $white);
    @include border-radius(8px);
}

.login-panel {
    margin: 10px 0;
    padding: 10px 18px;
    display: none;
    position: absolute;
    right: 0;
    @include border-radius(5px);
    background-color: #494949;
    * {
        display: block;
    }
    #login-name,
    #login-password {
        margin: 10px 0;
        background: none;
        padding: 5px;
        border: 0;
        border-bottom: 1px solid $white;
        color: $white;
        @include fontSize(1.4rem);
        &::placeholder {
            color: #8a8a8a;
        }
        &:focus {
            border: 0;
            outline: none;
            border-bottom: 2px solid $white;
        }
    }
    #login-action {
        appearance: none;
        @include border-radius(5px);
        @include btnSolid(#27ad1b, $white);
        margin: 10px 0 0 auto;
    }
}