@import '_value';
@import '_mixin';
@import '_animation';
//Header
.nav-bar {
    @include displayflex();
    align-items: center;
    background-color: $black;
    padding: 15px $desktop_margin;
}

.brand {
    flex-grow: auto;
    .nav-brand img {
        width: auto;
        height: 40px;
        @include mediaWidth($ipad) {
            height: 25px;
        }
    }
}

.member_block {
    flex-grow: 1;
    @include displayflex();
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    @include mediaWidth($ipad) {
        height: 0;
        display: none;
        position: absolute;
        left: 0;
        top: 55px;
        width: 100%;
        z-index: 999;
        text-align: center;
        background: $black;
        padding: 12px 0;
    }
}

.show_nav {
    @include mediaWidth($ipad) {
        display: block !important;
        height: auto;
        -webkit-animation-name: open;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.2s;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-timing-function: ease;
        animation-name: open;
        animation-duration: 0.2s;
        animation-timing-function: ease;
    }
}

.nav-btn {
    cursor: pointer;
    padding: 5px;
    width: 35px;
    display: none;
    visibility: hidden;
    position: absolute;
    @include mediaWidth($ipad) {
        display: block;
        visibility: visible;
        right: $mobile_margin;
    }
    .nav-btnItem {
        background: #fff;
        height: 4px;
        width: 100%;
        margin: 5px 0;
    }
}

.nav-items {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    a {
        @include fontSize(1.4rem);
        color: $white;
        text-decoration: none;
        &:before {
            filter: invert(1);
        }
        &:hover {
            color: $Main_color;
        }
        &:hover:before {
            filter: invert(1) sepia() saturate(4000%) hue-rotate(310deg);
        }
    }
}

.goStocklist {
    >a {
        padding-left: 25px;
        @include displayIcon(20px, 20px, "header_stock.svg");
    }
}

.goWatchlist {
    >a {
        padding-left: 20px;
        @include displayIcon(20px, 20px, "header_watchlist.svg");
    }
}

.member_block {
    margin: 0;
}

.login-action {
    margin-left: 25px;
    display: inline-block;
}

.action {
    @include fontSize(1.4rem);
    padding: 5px 15px !important;
    display: inline-block;
}

.login {
    @include btnSolid($Sub_color, $white);
    @include border-radius(8px);
    margin-right: 5px;
    text-transform: uppercase;
}

.register {
    @include btnSolid($Main_color, $white);
    @include border-radius(8px);
    text-transform: uppercase;
}

.logout {
    @include btnSolid($Thr_color, $white);
    @include border-radius(8px);
    text-transform: uppercase;
}

.login-panel {
    margin: 10px 0;
    padding: 10px 18px;
    display: none;
    position: absolute;
    right: 0;
    z-index: 99;
    @include border-radius(5px);
    background-color: #494949;
    * {
        display: block;
    }
    #login-name,
    #login-password {
        margin: 10px 0;
        background: none;
        padding: 5px;
        border: 0;
        border-bottom: 1px solid $white;
        color: $white;
        @include fontSize(1.4rem);
        &::placeholder {
            color: #8a8a8a;
        }
        &:focus {
            border: 0;
            outline: none;
            border-bottom: 2px solid $white;
        }
    }
    #login-action {
        appearance: none;
        border: 0;
        @include border-radius(5px);
        @include btnSolid(#27ad1b, $white);
        margin: 10px 0 0 auto;
    }
}