@import '_value';
@import '_mixin';
html {
    font-family: $family;
    font-size: 10px;
}

body {
    margin: 0;
    @include fontSize($h14);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.btn {
    display: block;
    @include border-radius(8px);
    @include btnSolid($black, $white);
}

.scrollTop {
    position: fixed;
    right: 15px;
    bottom: 35px;
    background-color: $grey2;
    padding: 3px;
    cursor: pointer;
    .arrow {
        @include arrowAnimation($white, 15px, 3px, top);
    }
}

.updateStamp {
    color: $grey;
    @include fontSize($h12);
    font-weight: normal;
}

.section {
    display: block;
    max-width: 100%;
    padding: 0 $desktop_margin;
    .title {
        @include fontSize($h18);
    }
}

.title_section {
    position: relative;
    padding: 25px $desktop_margin;
    text-align: center;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.site_title {
    @include fontSize($h24);
    font-weight: bold;
    color: $white;
    text-align: center;
    display: block;
    position: relative;
    >span {
        @include fontSize($h14);
        color: $grey;
    }
}

.listItem {
    @include displayflex();
    background-color: #f5f5f5;
}

.negative {
    color: $negative !important;
}

.positive {
    color: $positive !important;
}

.alertMsg {
    color: $Warning;
    padding-top: 5px;
}

#footer {
    background-color: $black;
    padding: 10px;
    text-align: center;
    div {
        @include fontSize($h14);
        color: $white;
    }
}