@import '_value';
@import '_mixin';

html {
    font-family: $family;
    font-size: 10px;
}

body {
    margin: 0;
    @include fontSize($h14);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.btn {
    padding: 5px;
    cursor: pointer;
}

.section {
    display: block;
    max-width: 100%;

    .title {
        @include fontSize($h18);
    }
}

.listItem {
    @include displayflex();
}

.negative {
    color: $negative !important;
}

.positive {
    color: $positive !important;
}

#footer {
    background-color: $black;
    padding: 10px;
    text-align: center;
    
    div {
        @include fontSize($h14);
        color: $white;
    }
}