@import '_value';
@import '_mixin';

html {
    font-family: $family;
    font-size: 10px;
}

body {
    margin: 0;
    @include fontSize(1.4rem);
}

.section {
    max-width: 100%;
}

img {
    width: 100%;
}