@import '_value';
@import '_mixin';
@import '_animation';
.stock-list {
    .title_section {
        &:before {
            background: url(#{$imgPath}chart-1905225_1920.jpg);
            filter: brightness(0.5) opacity(1) sepia(0.3) grayscale(0.5);
        }
    }
    .stock-info-section {
        @include displayflex();
        padding-top: 15px;
        padding-bottom: 15px;
        @include mediaWidth($ipad) {
            flex-wrap: wrap;
        }
    }
    .stock-list-section {
        @include flexBasis(30%);
        order: 1;
        padding-left: 5px;
        @include mediaWidth($ipad) {
            @include flexBasis(100%);
            order: 0;
        }
        .list-wrapper {
            padding: 0 8px 15px 0;
        }
    }
    .list-block {
        display: block;
        border: 1px solid $grey;
        @include border-radius(10px);
        overflow: hidden;
        .list {
            padding: 0;
        }
        .listItem {
            @include displayflex();
            border-bottom: 1px #dfdfdf solid;
            padding: 5px 8px;
            >div {
                @include flexBasis(20%);
                padding: 3px;
            }
            &:hover {
                background-color: #d4d4d4;
                box-shadow: 0 3px 6px 1px #dedede;
            }
        }
        .pageTitle {
            @include fontSize($h16);
            font-weight: bold;
            background-color: $grey2;
            color: choose-contrast-color($grey2);
            padding: 7px 12px 7px 42px;
            &:before {
                left: 12px !important;
                filter: invert(1);
            }
        }
        .price,
        .changes,
        .changesPercentage {
            text-align: center;
        }
    }
    .most-active-wrapper {
        .list-block {
            border-color: #fc6202;
        }
        .pageTitle {
            background-color: #fc6202;
            color: $white;
            @include displayIcon(20px, 20px, "money-graph-with-up-arrow.svg");
        }
        .listItem {
            background-color: #fff8f0;
            &:hover {
                background-color: rgba(252, 98, 2, 0.5);
            }
        }
    }
    .most-gainer-wrapper {
        .list-block {
            border-color: #067e16;
        }
        .pageTitle {
            background-color: #067e16;
            color: choose-contrast-color(#067e16);
            @include displayIcon(20px, 20px, "money-bag.svg");
        }
        .listItem {
            background-color: #ebfceb;
            &:hover {
                background-color: rgba(6, 126, 22, 0.5);
            }
        }
    }
    .major-index-wrapper {
        .pageTitle {
            @include displayIcon(20px, 20px, "changing-money.svg");
        }
    }
    .all-stock-wrapper {
        @include flexBasis(70%);
        order: 0;
        padding-right: 10px;
        @include mediaWidth($ipad) {
            @include flexBasis(100%);
            order: 1;
        }
        .list-block {
            position: relative;
        }
        .complete_load {
            &:before {
                content: "";
                width: 1px;
                height: 100%;
                background-color: #dfdfdf;
                display: block;
                position: absolute;
                left: 50%;
                top: 0;
                z-index: 3;
                @include mediaWidth($ipad) {
                    display: none;
                }
            }
        }
        .pageTitle {
            position: relative;
            z-index: 5;
            @include displayIcon(20px, 20px, "graph-line-screen.svg");
        }
        #allStock {
            @include displayflex();
            flex-wrap: wrap;
            position: relative;
            min-height: 300px;
            .listItem {
                border: 0;
            }
            >a {
                @include flexBasis(50%);
                display: block;
                border-bottom: 1px #dfdfdf solid;
                background-color: #f5f5f5;
                @include mediaWidth($ipad) {
                    @include flexBasis(100%);
                }
            }
        }
        .listItem {
            .symbol {
                @include flexBasis(20%);
            }
            .name {
                @include flexBasis(60%);
            }
            .price {
                @include flexBasis(20%);
            }
        }
    }
    .title {
        @include fontSize($h20);
        font-weight: bold;
        padding: 10px $desktop_margin;
        text-align: center;
    }
    $spinner: $grey;
    $background: $white;
    $size: 30px;
    .spinner {
        position: absolute;
        top: calc(50% - #{$size / 2});
        left: calc(50% - #{$size / 2});
        width: $size;
        height: $size;
        animation: spinner 0.75s linear infinite;
        span {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        .spinner-inner-1 {
            background: linear-gradient(to right, rgba($spinner, 0) 0%, rgba($spinner, 0) 50%, $spinner 51%);
        }
        .spinner-inner-2 {
            background: linear-gradient(to top, rgba($background, 0) 0%, $background 100%);
        }
        .spinner-inner-3 {
            $offset: $size * 0.1;
            top: $offset;
            left: $offset;
            width: $size - ($offset * 2);
            height: $size - ($offset * 2);
            background: $background;
        }
    }
    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}