@import '_value';
@import '_mixin';
@import '_animation';
.stock {
    .title_section {
        &:before {
            background: url(#{$imgPath}laptop-3174729_1920.jpg);
            filter: brightness(0.9) opacity(1) sepia(0.5) grayscale(0.5);
            background-position: 50%;
        }
        .title {
            @include fontSize($h16);
        }
    }
    .stock-info-section {
        padding-top: 15px;
        padding-bottom: 35px;
    }
    .stockHeader {
        // @include displayflex;
        // flex-wrap: wrap;
        display: block;
        position: relative;
        padding: 8px $desktop_margin;
        @include mediaWidth($ipad) {
            padding: 0;
            margin-bottom: 25px;
        }
        * {
            vertical-align: middle;
        }
        .btn {
            display: block;
            position: absolute;
            padding: 10px 20px;
            right: $desktop_margin;
            top: 0;
            @include mediaWidth($ipad) {
                position: relative;
                right: 0;
                float: right;
                margin-top: -5px;
            }
            p {
                margin: 0;
                position: relative;
                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: top;
                    vertical-align: middle;
                    filter: invert(1);
                }
            }
        }
        .add {
            background-color: $Thr_color;
            color: $white;
            & p:before {
                background: url(#{$svgPath}addWatchlist.svg);
            }
        }
        .remove {
            background-color: $grey2;
            color: $white;
            & p:before {
                background: url(#{$svgPath}broken-heart.svg);
            }
        }
        .brand-block {
            display: inline-block;
            @include mediaWidth($ipad) {
                display: block;
                margin-bottom: 10px;
            }
        }
        .index-block {
            display: inline-block;
            margin-left: 25px;
            @include mediaWidth($ipad) {
                margin-left: 0;
            }
        }
        .stockPrice {
            display: inline-block;
            line-height: 1;
            >span {
                @include fontSize($h20);
                margin-left: 5px;
            }
        }
        .stockChange {
            @include fontSize($h20);
            display: inline-block;
            margin-left: 10px;
            >span {
                @include fontSize($h12);
                margin-left: 5px;
            }
        }
    }
    .IMG {
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include mediaWidth($ipad) {
            width: 63px;
            height: 63px;
        }
    }
    .stockName {
        @include fontSize($h24);
        color: $black;
        display: inline-block;
        margin: 0 5px;
    }
    .main-wrapper {
        @include displayflex();
        flex-wrap: wrap;
    }
    .chart-wrapper {
        @include flexBasis(65%);
        @include mediaWidth($ipad) {
            @include flexBasis(100%);
        }
    }
    .infoBlock {
        @include flexBasis(35%);
        @include mediaWidth($ipad) {
            margin-top: 20px;
            @include flexBasis(100%);
        }
    }
    .des {
        @include fontSize($h14);
        padding-left: 10px;
        @include mediaWidth($ipad) {
            padding-left: 10px;
            padding-right: 10px;
        }
        .title {
            @include fontSize($h20);
            color: $Sub_color;
            font-weight: bold;
        }
        .content {
            @include fontSize($h14);
        }
    }
    .table-wrapper {
        padding: 5px 10px;
    }
    table {
        width: 100%;
        margin-top: 20px;
        th {
            text-align: left;
            padding: 5px;
            background-color: $grey2;
            color: $white;
        }
        td {
            padding: 5px;
            background-color: #ececec;
        }
    }
}